.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
*~
xtdb/.clj-kondo
xtdb/.cpcache
xtdb/.nrepl-port
/xtdb/.lsp/
/xtdb/OtpErlang.jar
/.lsp/
/.clj-kondo/
