{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/tools.logging {:mvn/version "1.2.4"}
        ;; Provide your own built jinterface lib, for now
        com.ericsson.otp/otp-erlang {:local/root "/Users/tatu.tarvainen/Downloads/otp_src_25.1.2/lib/jinterface/priv/OtpErlang.jar"}

        com.xtdb/xtdb-core {:mvn/version "1.22.1"}
        com.xtdb/xtdb-lucene {:mvn/version "1.22.1"}}
 :aliases {:dev {}
           :rocksdb {:extra-deps {com.xtdb/xtdb-rocksdb {:mvn/version "1.22.1"}}}
           :lmdb {:extra-deps {com.xtdb/xtdb-lmdb {:mvn/version "1.22.1"}}}
           :s3 {:extra-deps {com.xtdb/xtdb-s3 {:mvn/version "1.22.1"}}}
           :metrics {:extra-deps {com.xtdb/xtdb-metrics {:mvn/version "1.22.1"}}}
           :lucene {:extra-deps {com.xtdb/xtdb-lucene {:mvn/version "1.22.1"}}}}}
