{:paths ["src" "classes" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/tools.logging {:mvn/version "1.2.4"}

        ;; If you need to build jinterface, download Erlang/OTP source
        ;; Build it by running:
        ;; $ make jinterface
        ;;
        ;; in the Erlang/OTP src directory, the file will be in
        ;; lib/jinterface/priv directory.
        com.ericsson.otp/otp-erlang {:local/root "./lib/OtpErlang.jar"}

        com.xtdb/xtdb-core {:mvn/version "1.22.1"}
        com.xtdb/xtdb-lucene {:mvn/version "1.22.1"}}
 :aliases {:dev {:extra-deps
                 {tatut/xtdb-inspector {:git/url "https://github.com/tatut/xtdb-inspector.git"
                                        :sha "ca842fc40dda06c0321d258f23032dd277d3f8ca"}}}
           :rocksdb {:extra-deps {com.xtdb/xtdb-rocksdb {:mvn/version "1.22.1"}}}
           :lmdb {:extra-deps {com.xtdb/xtdb-lmdb {:mvn/version "1.22.1"}}}
           :s3 {:extra-deps {com.xtdb/xtdb-s3 {:mvn/version "1.22.1"}}}
           :metrics {:extra-deps {com.xtdb/xtdb-metrics {:mvn/version "1.22.1"}}}
           :lucene {:extra-deps {com.xtdb/xtdb-lucene {:mvn/version "1.22.1"}}}
           :log-jul {:extra-deps {org.slf4j/slf4j-jdk14 {:mvn/version "2.0.6"}}}}}
