{;; Configuration given to XTDB start-node
 :xtdb {:xtdb.lucene/lucene-store
        {:db-dir ".rocksdb/lucene"}

        :xtdb/index-store
        {:kv-store {:xtdb/module xtdb.rocksdb/->kv-store
                    :db-dir ".rocksdb/index-store"}}

        ;; NOTE: for an actual clustered database, the *golden stores*
        ;; (document store and tx log) must be in a shared place.
        ;; Like PostgreSQL (or S3 + Kafka).
        ;;
        ;; For a single node database, we can get by with this.
        
        :xtdb/document-store
        {:kv-store {:xtdb/module xtdb.rocksdb/->kv-store
                    :db-dir ".rocksdb/document-store"}}
        
        :xtdb/tx-log
        {:kv-store {:xtdb/module xtdb.rocksdb/->kv-store
                    :db-dir ".rocksdb/tx-log"}}}

;; Erlang mailbox configuration (nodename, process name)
 :mbox {;; The name of the node to use 
        :node "xtdb@localhost"

        ;; The named process name to use
        :mbox "xtdb"}

 ;; Other server configuration
 :server {;; How many simultaneous workers to use
          :workers 20}

 ;; XTDB-inspector
 ;; (provide own dependency, it is in the :dev profile)
 ;; If this key is present, the XTDB inspector server
 ;; is started on the given port.
 ;; It can be accessed at http://localhost:3000/doc
 :xtdb-inspector {:port 3000}}
